/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1920px) {
.header-left a {
    color: #000000;
    font-size: 20px;
    border-top: 2px solid #707070;
}


.header-right ul li a {
    color: #B1B1B1;
    font-size: 15px;
    font-weight: 400;
    padding-left: 43px;
    display: block;
    padding-top: 11px;
}

.header-right span {
    width: 33%;
    height: 2px;
    background-color: #707070;
    display: block;
    position: absolute;
    right: 0;
    bottom: -45px;
}


.tmcs-a2 h2 {
    color: #000000;
    font-size: 38px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 34px;
}

.tmcs-a1 ul li:nth-child(4) span {
    color: #AEAEAE;
    font-size: 23px;
    display: block;
    transform: rotate(-90deg);
    margin: 0;
    position: relative;
    left: -57px;
    top: 49px;
    z-index: -111111111111111111111111111;
}


.tmcs-a2 img {
    width: 51%;
    height: 482px;
    display: block;
}

.tmcs-a2 h3 {
    color: #000000;
    font-size: 36px;
    margin-top: -483px;
    padding-left: 298px;
}

.tmcs-a2 p {
    color: #AEAEAE;
    font-size: 16px;
    line-height: 34px;
    padding-left: 303px;
    padding-top: 31px;
}

.tmcs-a2btn a {
    color: #fff;
    font-size: 16px;
    padding: 17px 29px;
}

.tmcs-a2btn {
    padding-left: 306px;
    padding-top: 22px;
}

.tmcs-c1 img {
    width: 58px;
    height: 57px;
}

.tmcs-c1 h3 {
    color: #000000;
    font-size: 15px;
    font-weight: 800;
    margin-top: -67px;
    padding-left: 67px;
}

.tmcs-c1 p {
    color: #000000;
    font-size: 8px;
    font-weight: 800;
    padding-left: 69px;
    margin: 0;
    padding-bottom: 5px;
}

.bks-part_a1 h3 {
    color: #010101;
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    margin-top: -90px;
    padding-left: 91px;
}

.bks-part_a1 p {
    color: #847d7d;
    font-size: 10px;
    font-weight: 500;
    padding-left: 92px;
    padding-top: 2px;
}

.bks-part_a1 {
    margin-bottom: 31px;
}

.footer-area {
    padding: 40px 0;
    padding-top: 0;
}

.footer-left p span {
    color: #AEAEAE;
    font-size: 24px;
    font-weight: 300;
    display: inline-block;
    padding-right: 48px;
}

.tmcs-a2 h6 {
    color: #AEAEAE;
    font-size: 22px;
    margin: 0;
    padding-left: 0px;
    margin-left: -31px;
}
.footer-right p {
    color: #AEAEAE;
    font-size: 18px;
    margin: 0;
    padding-left: 144px;
    padding-top: 5px;
}

.footer-right span {
    width: 11%;
    height: 2px;
    background-color: #707070;
    display: block;
    position: relative;
    top: 21px;
    left: 85px;
}

}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {

.mobileheader-area {
    display: block;
}

.navbar-brand img {
    max-width: 100%;
}

.main-menu-part ul {
    padding-top: 20px;
}

.main-menu-part ul li {
    float: none;
    border-bottom: 1px solid #000000;
}

.main-menu-part ul li a {
    padding: 21px 0px 12px 5px;
}

.header-area {
    padding: 50px 30px;
    padding-left: 60px;
    display: none;
}



.tmcs-a2 h6 {
    font-size: 28px;
    margin: 0;
    padding-left: 0px;
    padding-top: 20px;
}

.tmcs-area {
    padding: 15px 0px;
}

.tmcs-a2 img {
    width: 53%;
    height: 498px;
    display: block;
}

.tmcs-a1 ul li:nth-child(4) span {
    color: #AEAEAE;
    font-size: 17px;
    display: block;
    transform: rotate(-90deg);
    margin: 0;
    position: relative;
    left: -41px;
    top: 40px;
    z-index: -111111111111111111111111111;
}

.tmsc_span1 {
    width: 2px;
    height: 206px;
    display: block;
    background-color: #707070;
    margin-top: -126px;
    margin-left: 26px;
}

.tmcs-a2 h2 {
    color: #000000;
    font-size: 36px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 16px;
}

.tmcs-a2 h3 span {
    font-size: 26px;
}

.tmcs-a2 h3 {
    color: #000000;
    font-size: 29px;
    margin-top: -496px;
    padding-left: 352px;
}

.tmcs-a2 p {
    color: #AEAEAE;
    font-size: 17px;
    line-height: 38px;
    padding-left: 357px;
    padding-top: 43px;
}

.tmcs-a2btn {
    padding-left: 358px;
    padding-top: 17px;
}


.tmcs-a2btn a {
    font-size: 19px;
    padding: 14px 32px;
}


.tmcs-a1 h6 {
    color: #B1B1B1;
    font-size: 27px;
    padding-top: 56px;
    padding-bottom: 9px;
}


.tmcs-c1 img {
    width: 86px;
    height: 71px;
}

.tmcs-c1 h3 {
    color: #000000;
    font-size: 24px;
    font-weight: 800;
    margin-top: -81px;
    padding-left: 106px;
}


.tmcs-c1 p {
    color: #000000;
    font-size: 23px;
    font-weight: 400;
    line-height: 26px;
    padding-left: 106px;
    margin: 0;
    padding-bottom: 5px;
}


.bks-part_a1 img {
    max-width: 100%;
    display: block;
}



.tmcs-a1 {
    width: 87%;
    display: block;
    margin: auto;
}

.bks-part {
    width: 87%;
    display: block;
    margin: auto;
    padding-top: 45px;
}


.bks-part h2 {
    color: #B1B1B1;
    font-size: 26px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 21px;
}
.bks-part_a1 h3 {
    color: #010101;
    font-size: 29px;
    font-weight: 700;
    line-height: 31px;
    margin-top: -146px;
    padding-left: 157px;
}

.bks-part_a1 p {
    color: #847d7d;
    font-size: 21px;
    font-weight: 500;
    padding-left: 158px;
    padding-top: 36px;
}

.footer-area {
    padding: 40px 0;
    padding-top: 0;
}

.footer-left p span {
    color: #AEAEAE;
    font-size: 24px;
    font-weight: 300;
    display: inline-block;
    padding-right: 66px;
}

.footer-right span {
    width: 11%;
    height: 2px;
    background-color: #707070;
    display: block;
    position: relative;
    top: 16px;
    left: 98px;
}

.footer-right p {
    color: #AEAEAE;
    font-size: 18px;
    margin: 0;
    padding-top: 3px;
    padding-left: 144px;
}

.footer-right span {
    width: 11%;
    height: 2px;
    background-color: #707070;
    display: block;
    position: relative;
    top: 19px;
    left: 98px;
}

}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (min-width: 576px) and (max-width: 767px) {	
.mobileheader-area {
    display: block;
}

.navbar-brand img {
    width: 193px;
}

.main-menu-part ul {
    padding-top: 20px;
}

.main-menu-part ul li {
    float: none;
    border-bottom: 1px solid #000000;
}

.main-menu-part ul li a {
    padding: 21px 0px 12px 5px;
}

.header-area {
    display: none;
}

.tmcs-a1 ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding-top: 30px;
    text-align: center;
}

.tmcs-a1 ul li {
    display: inline-block;
}

.tmcs-a1 ul li:nth-child(4) span {
    color: #AEAEAE;
    font-size: 21px;
    display: block;
    transform: rotate(0deg);
    margin: 0;
    position: relative;
    left: 0px;
    top: 0px;
    margin-left: 6px;
    z-index: -111111111111111111111111111;
}

.tmsc_span1 {
    width: 36%;
    height: 2px;
    display: block;
    background-color: #707070;
    margin-top: 0px;
    margin-left: 0px;
    margin: auto;
    margin-bottom: 22px;
}
.tmcs-area {
    padding: 8px 0px;
}

.tmcs-a2 h2 {
    color: #000000;
    font-size: 41px;
    line-height: 35px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 20px;
}

.tmcs-a2 h6 {
    color: #AEAEAE;
    font-size: 28px;
    margin: 0;
    padding-left: 0px;
    text-align: center;
    padding-bottom: 6px;
}


.tmcs-a2 img {
    width: 100%;
    height: initial;
    display: block;
    margin: auto;
}


.tmcs-a2 h3 {
    color: #000000;
    font-size: 36px;
    font-weight: 800;
    margin-top: 21px;
    padding-left: 0px;
    text-align: center;
    margin-bottom: 14px;
}

.tmcs-a2 p {
    color: #AEAEAE;
    font-size: 21px;
    line-height: 32px;
    padding-left: 0px;
    padding-top: 4px;
    text-align: center;
}


.tmcs-a2btn {
    padding-left: 0px;
    padding-top: 13px;
    text-align: center;
    margin-bottom: 48px;
}

.tmcs-a2btn a {
    font-size: 16px;
    padding: 12px 42px;
}


.footer-left p {
    color: #AEAEAE;
    font-size: 15px;
    margin: 0;
    text-align: center;
}

.footer-left p span {
    color: #AEAEAE;
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
    padding-right: 15px;
}

.footer-right p {
    color: #AEAEAE;
    font-size: 18px;
    margin: 0;
    padding-left: 0px;
    text-align: center;
}

.footer-right span {
    width: 8%;
    height: 2px;
    background-color: #707070;
    display: block;
    position: relative;
    top: 16px;
    left: 44px;
}


.footer-area {
    padding: 26px 0;
    padding-top: 0;
}



.tmcs-a1 h6 {
    color: #B1B1B1;
    font-size: 22px;
    padding-top: 9px;
    padding-bottom: 10px;
}


.tmcs-c1 img {
    width: 80px;
    height: 70px;
}
.tmcs-c1 h3 {
    color: #000000;
    font-size: 25px;
    font-weight: 800;
    margin-top: -80px;
    padding-left: 96px;
}
.tmcs-c1 p {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    padding-left: 99px;
    margin: 0;
    padding-bottom: 5px;
}

.bks-part_a1 h3 {
    color: #010101;
    font-size: 25px;
    font-weight: 700;
    line-height: 28px;
    margin-top: -141px;
    padding-left: 148px;
}

.bks-part_a1 p {
    color: #847d7d;
    font-size: 21px;
    font-weight: 500;
    padding-left: 150px;
    padding-top: 33px;
}

.footer-right span {
    width: 8%;
    height: 2px;
    background-color: #707070;
    display: block;
    position: relative;
    top: 16px;
    left: 138px;
}

.footer-left p a {
    color: #AEAEAE;
    font-size: 21px;
}

.footer-left p span {
    color: #AEAEAE;
    font-size: 25px;
    font-weight: 300;
    display: inline-block;
    padding-right: 15px;
}




}

/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/
@media screen and (max-width: 576px) {


.mobileheader-area {
    display: block;
}

.navbar-brand img {
    width: 193px;
}

.main-menu-part ul {
    padding-top: 20px;
}

.main-menu-part ul li {
    float: none;
    border-bottom: 1px solid #000000;
}

.main-menu-part ul li a {
    padding: 21px 0px 12px 5px;
}

.header-area {
    display: none;
}

.tmcs-a1 ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding-top: 30px;
    text-align: center;
}

.tmcs-a1 ul li {
    display: inline-block;
}

.tmcs-a1 ul li:nth-child(4) span {
    color: #AEAEAE;
    font-size: 21px;
    display: block;
    transform: rotate(0deg);
    margin: 0;
    position: relative;
    left: 0px;
    top: 0px;
    margin-left: 6px;
    z-index: -111111111111111111111111111;
}

.tmsc_span1 {
    width: 73%;
    height: 2px;
    display: block;
    background-color: #707070;
    margin-top: 0px;
    margin-left: 0px;
    margin: auto;
    margin-bottom: 22px;
}
.tmcs-area {
    padding: 8px 0px;
}

.tmcs-a2 h2 {
    color: #000000;
    font-size: 34px;
    line-height: 35px;
    text-align: center;
    font-weight: 600;
    padding-bottom: 20px;
}

.tmcs-a2 h6 {
    color: #AEAEAE;
    font-size: 22px;
    margin: 0;
    padding-left: 0px;
    text-align: center;
    padding-bottom: 6px;
}


.tmcs-a2 img {
    width: 100%;
    height: initial;
    display: block;
    margin: auto;
}

.tmcs-a2 h3 {
    color: #000000;
    font-size: 35px;
    margin-top: 18px;
    padding-left: 0px;
    text-align: center;
}

.tmcs-a2 p {
    color: #AEAEAE;
    font-size: 21px;
    line-height: 32px;
    padding-left: 0px;
    padding-top: 4px;
    text-align: center;
}


.tmcs-a2btn {
    padding-left: 0px;
    padding-top: 13px;
    text-align: center;
    margin-bottom: 48px;
}

.tmcs-a2btn a {
    font-size: 16px;
    padding: 12px 42px;
}


.footer-left p {
    color: #AEAEAE;
    font-size: 15px;
    margin: 0;
    text-align: center;
}

.footer-left p span {
    color: #AEAEAE;
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
    padding-right: 15px;
}

.footer-right p {
    color: #AEAEAE;
    font-size: 15px;
    margin: 0;
    padding-left: 0px;
    text-align: center;
}

.footer-right span {
    width: 8%;
    height: 2px;
    background-color: #707070;
    display: block;
    position: relative;
    top: 12px;
    left: 59px;
}


.footer-area {
    padding: 26px 0;
    padding-top: 0;
}

.footer-left p a {
    color: #AEAEAE;
    font-size: 16px;
}

}


@media screen and (min-width: 380px) and (max-width: 425px) {
.navbar-brand img {
    width: 193px;
}

.tmcs-a1 h6 {
    color: #B1B1B1;
    font-size: 22px;
    padding-top: 6px;
    padding-bottom: 8px;
}

.tmcs-c1 img {
    width: 66px;
    height: 62px;
}

.tmcs-c1 h3 {
    color: #000000;
    font-size: 20px;
    font-weight: 800;
    margin-top: -69px;
    padding-left: 81px;
}

.tmcs-c1 p {
    color: #000000;
    font-size: 12px;
    font-weight: 800;
    padding-left: 81px;
    margin: 0;
    padding-bottom: 5px;
}

.bks-part_a1 h3 {
    color: #010101;
    font-size: 23px;
    font-weight: 700;
    line-height: 24px;
    margin-top: -139px;
    padding-left: 151px;
}

.bks-part_a1 p {
    color: #847d7d;
    font-size: 14px;
    font-weight: 500;
    padding-left: 156px;
    padding-top: 26px;
}
.footer-right p {
    color: #AEAEAE;
    font-size: 15px;
    margin: 0;
    padding-left: 0px;
    text-align: center;
}
.footer-right span {
    width: 6%;
    height: 2px;
    background-color: #707070;
    display: block;
    position: relative;
    top: 13px;
    left: 111px;
}


.footer-left p a {
    color: #AEAEAE;
    font-size: 17px;
}







}

@media screen and (min-width: 330px) and (max-width: 375px) {
.tmcs-a1 h6 {
    color: #B1B1B1;
    font-size: 22px;
    margin-bottom: 14px;
}

.bks-part h2 {
    color: #B1B1B1;
    font-size: 22px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 27px;
}

.bks-part h2 i {
    color: #000000;
    font-size: 23px;
    float: right;
    margin-top: 7px;
}

.bks-part_a1 h3 {
    color: #010101;
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin-top: -137px;
    padding-left: 142px;
}

.bks-part_a1 p {
    color: #847d7d;
    font-size: 12px;
    font-weight: 500;
    padding-left: 145px;
    padding-top: 12px;
}

.bks-part_a1 {
    margin-bottom: 83px;
}

.footer-right p {
    color: #AEAEAE;
    font-size: 15px;
    margin: 0;
    padding-left: 0px;
    text-align: center;
}

.footer-right span {
    width: 7%;
    height: 2px;
    background-color: #707070;
    display: block;
    position: relative;
    top: 13px;
    left: 85px;
}

.footer-left p a {
    color: #AEAEAE;
    font-size: 16px;
}

.tmcs-c1 p {
    color: #000000;
    font-size: 10px;
    font-weight: 800;
    padding-left: 73px;
    margin: 0;
    padding-bottom: 5px;
}
.navbar-brand img {
    width: 176px;
}





}