.craft-wrapper{
    max-width: 900px;
    margin: 0 auto;
    position: relative;
}
.craft__heading{
    font-size: 35px;
    font-family: 'Elsie';
    font-weight: 900;
    color: var(--dark-grey);
    text-align: center;
    margin-bottom: 80px;
}
.craft-img__box{
    margin-bottom: 70px;
}
.craft-content-wrapper{
    margin-bottom: 100px;
}
.craft-content-wrapper1{
    padding-bottom: 50px;
    border-bottom: 1px solid var(--dark-grey);
    text-align: center;
}
.craft__img{
    max-width: 50%;
    height: auto;
}
.craft-content-box1{
    width: 35%;
}
.craft-content-box2{
    width: 60%;
}
.craft-content-box1__heading{
    font-size: 30px;
    font-family: 'Elsie';
    font-weight: normal;
    color: var(--dark-grey);
}
.craft-content-box2__article{
    color: var(--dark-grey);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    line-height: 1.9;
    margin-bottom: 30px;
}
.craft-content-box2__link{
    color: var(--dark-grey);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.3px;
    word-spacing: 1px;
}
.craft-content-box2__heading{
    font-size: 20px;
    font-family: 'Elsie';
    font-weight: normal;
    color: var(--dark-grey);
    margin-bottom: 15px;
}
.craft-btn{
    background-color: #fff;
    border-radius: 40px;
    height: 60px;
    width: 230px;
    color: var(--dark-grey);
    font-size: 18px;
    font-weight: 400;
}
.footer{
    text-align: center;
    position: relative;
}
.white-box{
    background-color: #fff;
    border-radius: 40px;
    height: 60px;
    max-width: 500px;
    margin: 0 auto 100px auto;
    box-shadow: 0px 3px 10px 0px rgb(0, 0, 0, 0.3);
}
.footer__heading{
    font-size: 30px;
    font-family: 'Elsie';
    font-weight: 900;
    color: var(--dark-grey);
    margin-bottom: 50px;
}
.copywrite{
    color: var(--dark-grey);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    margin-bottom: 30px;
}
.craft-pricing{
    width: 60%;
    margin: 0 auto 50px auto;
}
.craft-pricing__heading{
    font-size: 30px;
    color: var(--dark-grey);
    margin-bottom: 20px;
    font-weight: 400;
}
.craft-pricing__desc{
    font-size: 16px;
    color: var(--dark-grey);
    margin-bottom: 25px;
    font-weight: 400;
    line-height: 1.9;
}
.craft-pricing__heading1{
    font-size: 18px;
    margin-bottom: 20px;
    color: var(--dark-grey);
}
.craft-pricing__heading-a {
    font-size: 30px;
    text-align: center;
    color: var(--dark-grey);
    margin-bottom: 30px;
}